@font-face {
	font-family: companyFont;
	src: url(WagashiSerif_Beta1.otf);
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #70C3AB;
  z-index: 1;
}

#company {
	display: inline-block;
	padding: 10px 0 10px 15px;
}

#company span {
	color: white;
	font-family: companyFont;
	font-weight: 500;
	font-size: 40px;
	display: inline-block;
}

body {
	background-color: #3A352F;
	margin: 0;
}

#login {
	position: relative;
	display: inline-block;
	float: right;
	padding-right: 15px;
	padding-top: 18px;
}

#signInButton {
	font-size: 25px;
	font-family: Cambria;
	color: white;
	border: none;
	background-color: #70C3AB;
	cursor: pointer;
}

#homeSearchBox {
	position: absolute;
	height: 300px;
	width: 400px;
	margin: 0 auto;
	top: 50%;
	margin-top: -150px;
	left: 50%;
	margin-left: -200px;
}

#homeSearchBox span {
	font-family: Cambria;
	font-size: 34px;
	color: white;
	display: block;
	text-align: center;
	padding-bottom: 5px;
}

#homeSearch {
	width: 310px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #3A352F;
	padding-left: 10px;
	margin-left: 38px;
}

#globe {
	text-align: center;
}

#globe img {
	text-align: center;
	width: 350px;
	padding-bottom: 5px;
}

#play {
	position: absolute;
	text-align: center;
	top: 17%;
	left: 43%;
}

#play i {
	color: #FF8800;
}

#loginContentHolder {
	position: absolute;
	height: 300px;
	width: 500px;
	margin: 0 auto;
	top: 50%;
	margin-top: -150px;
	left: 50%;
	margin-left: -250px;
	border: 1px solid #3A352F;
	border-radius: 5px;
	background-color: #E5F3BA;
}

#loginContent h1 {
	text-align: center;
	font-family: Cambria;
}

#loginContent {
	margin-top: 38px;
}

#loginInput {
	margin-left: 3%;
}

#username {
	width: 45%;
	height: 40px;
	border: 1px solid gainsboro;
	border-radius: 5px;
	padding-left: 10px;
}

#password {
	width: 45%;
	height: 40px;
	border: 1px solid gainsboro;
	border-radius: 5px;
	margin-left: 10px;
	padding-left: 10px;
}

#buttonsHolder {
	text-align: center;
}

#registerButton, #submitButton {
	width: 25%;
	height: 40px;
	font-family: Cambria;
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #FF8800;
	border: 1px solid #FF8800;
	border-radius: 5px;
	display: block;
	margin: 0 auto;
	margin-top: 25px;
}

#submitButton {
	margin-top: 10px;
}